:root{
    --guide-border: 1px solid blue;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex: 1;
    padding: min(20px, 1vw);
    border: var(--guide-border);
}

.image-side{
    display: flex;
    flex: 1;
    background-image: url(img/peak-district.jpg);
    background-size: cover;
    background-position: center;
    border: var(--guide-border);
}

.form-side{
    display: flex;
    flex-direction: column;
    flex: 1.3;
    border: var(--guide-border);
}

.form-header{
    flex: 0.6;
    border: var(--guide-border);
}

.form-input{
    flex: 1.4;
    border: var(--guide-border);
}